  <div class="container">
    <div class="col-md-3 col-sm-6 templatemo_leftgap">
      <div class="templatemo_insideportfolio templatemo_botgap">
        <div class="templatemo_portfoliotext">
          <h2>Experiencia</h2><br/>
          <div class="clear"></div>
          Presentamos Soluciones Prácticas y Creativas con <b><i>Conocimiento</i></b> y <b><i>Experiencia</i></b>
          <br/><br/>
          A través de los años hemos perfeccionado nuestra <b><i>Metodologia de trabajo</i></b>, para abordar desde pequeños proyectos, hasta proyectos con grandes cambios estructurales.
        </div>
      </div>
      <div class="templatemo_portfolioback">
        <div class="templatemo_link">
          <a class="show-1 templatemo_homeportfolio" href="#">Volver</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 templatemo_leftgap">
      <div class="templatemo_botgap templatemo_portfotopgap gallery-item">
        <%= image_tag "pry_mlibre2.JPG", height:"150" %>
        <div class="overlay">
          <a href=<%= image_path("pry_mlibre2.JPG") %> data-rel="lightbox"  class="glyphicon glyphicon-fullscreen" style="font-size: 35px;"></a>
        </div>
      </div>              
      <div class="templatemo_botgap templatemo_topgap gallery-item">
        <%= image_tag "pry_avaya2.JPG", height:"150" %>
        <div class="overlay">
          <a href=<%= image_path("pry_avaya2.JPG") %> data-rel="lightbox" class="glyphicon glyphicon-fullscreen" style="font-size: 35px;"></a>
        </div>
      </div>
      <div class="templatemo_botgap templatemo_topgap gallery-item">
        <%= image_tag "pry_correo2.JPG", height:"150" %>
        <div class="overlay">
          <a href=<%= image_path("pry_correo2.JPG") %> data-rel="lightbox" class="glyphicon glyphicon-fullscreen" style="font-size: 35px;"></a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 templatemo_leftgap">
      <div class="templatemo_botgap templatemo_topgap gallery-item">
        <%= image_tag "pry_sap2.JPG", height:"150" %>
        <div class="overlay">
          <a href=<%= image_path("pry_sap2.JPG") %> data-rel="lightbox" class="glyphicon glyphicon-fullscreen" style="font-size: 35px;"></a>
        </div>
      </div>
      <div class="templatemo_botgap templatemo_topgap gallery-item">
        <%= image_tag "pry_fiserv2.JPG", height:"150" %>
        <div class="overlay">
          <a href=<%= image_path("pry_fiserv2.JPG") %> data-rel="lightbox" class="glyphicon glyphicon-fullscreen" style="font-size: 35px;"></a>
        </div>
      </div>
      <div class="templatemo_botgap templatemo_topgap gallery-item">
        <%= image_tag "pry_nqn2.JPG", height:"150" %>
        <div class="overlay">
          <a href=<%= image_path("pry_nqn2.JPG") %> data-rel="lightbox" class="glyphicon glyphicon-fullscreen" style="font-size: 35px;"></a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 templatemo_leftgap">
      <div class="templatemo_botgap templatemo_topgap gallery-item">
        <%= image_tag "pry_siebel2.JPG", height:"150" %>
        <div class="overlay">
          <a href=<%= image_path("pry_siebel2.JPG") %> data-rel="lightbox" class="glyphicon glyphicon-fullscreen" style="font-size: 35px;"></a>
        </div>
      </div>
      <div class="templatemo_botgap templatemo_topgap gallery-item">
        <%= image_tag "pry_brasil2.JPG", height:"150" %>
        <div class="overlay">
          <a href=<%= image_path("pry_brasil2.JPG") %> data-rel="lightbox" class="glyphicon glyphicon-fullscreen" style="font-size: 35px;"></a>
        </div>
      </div>
      <div class="templatemo_botgap templatemo_topgap gallery-item">
        <%= image_tag "pry_ventas2.JPG", height:"150" %>
        <div class="overlay">
          <a href=<%= image_path("pry_ventas2.JPG") %> data-rel="lightbox" class="glyphicon glyphicon-fullscreen" style="font-size: 35px;"></a>
        </div>
      </div>
    </div>
  </div>
