	<div class="container">
		<div class="col-md-3 col-sm-6 templatemo_leftgap"> <!-- columna Empresa -->
			<div class="templatemo_mainservice templatemo_botgap">
		  	<div class="templatemo_link">
		  		<a class="show-2 templatemo_page2" href="#">Empresa</a>
		  	</div>
		  </div>
		  <div class="templatemo_mainimg">
		  	<%= image_tag "mundo_v.jpg", height:"315" %>
		  </div>
		</div>
    <div class="col-md-3 col-sm-6 templatemo_leftgap"> <!-- columna Soluciones -->
    	<div class="templatemo_mainimg templatemo_botgap templatemo_portfotopgap">
         <%= image_tag "experiencia_MAPA.jpg", height:"315" %>
    	</div>
      <div class="templatemo_mainportfolio">
        <div class="templatemo_link">
        	<a class="show-3 templatemo_page3" href="#">Experiencia</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 templatemo_leftgap"> <!-- columna Experiencia -->
    	<div class="templatemo_maintesti templatemo_botgap templatemo_topgap">
      	<div id="btnpyme" class="templatemo_link">
      		<a class="show-4 templatemo_page4" href="#">PYMEs</a>
      	</div>
      </div>
      <div class="templatemo_mainimg">
      	<%= image_tag "solu_v.jpg", height:"315" %>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 templatemo_leftgap templatemo_topgap"> <!-- columna Info Gral y Contacto -->
      <div class="templatemo_mainabout templatemo_botgap templatemo_topgap">
      	<div class="templatemo_link">
      		<a class="show-5 templatemo_page5" href="#">Call Centers</a>
      	</div>
      </div>
      <div class="templatemo_mainimg templatemo_botgap">
         <%= image_tag "tablet_h.jpg", height:"150" %>
      </div>
      <div class="templatemo_maincontact templatemo_topgap">
      	<div class="templatemo_link">
          <%= link_to 'Contacto', new_contact_path, remote: true %>
      	</div>
      </div>
    </div>
	</div>
