<div class="content homepage" id="menu-1"> <!-- homepage start -->
  <%= render "home" %>
</div> <!-- homepage end -->

<div class="content services" id="menu-2"> <!--empresa start -->
  <%= render "empresa" %>
</div> <!-- services end -->   

<!-- portfilio start -->
<div class="content portfolio" id="menu-3">
  <%= render "experiencia" %>
</div> <!-- portfolio end -->

<div class="content testimonial" id="menu-4"> <!-- testimonial start -->
  <%= render "pymes" %>
</div> <!-- testimonial end -->

<div class="content about" id="menu-5"> <!-- about start -->
  <%= render "callcenter" %>
</div> <!-- about end -->

<div class="content contact" id="menu-6"> <!-- contact start -->
	<%= render 'contact' %>
</div> <!-- contact end --> 

